#app {
    height: 100%
}

html,
body {
    position: relative;
    height: 100%;
}


.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    border-radius: 25px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 25px;
}


.active {
    background-color: #E3963E !important;
    color: white !important;
}

.even-row {
    animation: slideInLeft 10.5s forwards;
}

.left {
    animation: slideInLeft 2.5s forwards;
}


.odd-row {
    animation: slideInRight 10.5s forwards;
}

.right {
    animation: slideInRight 2.5s forwards;
}

.nav {
    background-image: url('/statb.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}